@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --back-color: #101010;
  --text-color: #777777;
  --inputback-color: #1e1e1e;
  --outline-color: #1b1b1b;
  --logo-primary: #fff;
  --nav-hover: rgba(255, 255, 255, 0.05);
  --icon-primary: rgb(77, 77, 77);
  --icon-outline: #a7a7a7;
  --card-background: #181818;
}

body {
  background: var(--back-color);
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 140%;
}
